<br>
<div class = "wrapper">
  <h1>To Do List</h1>
  <br>
  <br>
  <br>
  <%= form_with(scope: :task, url: tasks_path,local: true, method: :get) do |f|  %>
  <div class = 'aaa clearfix'>
    <div class = "tit_form">
      <%= f.label :title %>
      <%= f.text_field :title, size: 50 %>
    </div>
    <div class = "status_form">
      <%= f.label :status %>
      <%= f.select :status,[["全て", ""],["未着手", "未着手"], ["実行中", "実行中"], ["完了", "完了"]] %>
    </div>
    <div class = "srh_form">
      <%= f.submit "検索する" %>
    </div>
  </div>
  <% end %>
  <br>
  <br>
  <%= link_to '新規作成', new_task_path, class: "btn btn-primary" %>
  <br>
  <br>
  <table class="table table-striped">
    <tr>
      <th class = "mycolumn">タスク</th>
      <th class = "mycolumn_content">内容</th>
      <th class = "mycolumn_time">作成日時</th>
      <th class = "mycolumn_time"><%= link_to "終了期限▼", tasks_path(sort_expired: "true") %></th>
      <th class = "mycolumn_status">状態</th>
      <th class = "mycolumn_priority"><%= link_to "優先度▼", tasks_path(sort_priority: "true") %></th>
      <th colspan="6"></th>
    </tr>
  
  <div class = 'content'>
    <% @tasks.each do |task| %>
      <tr class = 'task_row'>
        <td><%= task.title.truncate(14) %></td>
        <td><%= task.content.truncate(17) %></td>
        <td><%= task.created_at.to_s(:datetime_jp) %></td>
        <td><%= task.expired_at.to_s(:datetime_jp) %></td>
        <td><%= task.status %></td>
        <td class><%= task.priority%></td>
        <td><%= link_to '詳細', task_path(task.id), class: "btn btn-info" %></td>
        <td><%= link_to '編集', edit_task_path(task.id), class: "btn btn-success" %></td>
        <td><%= link_to '削除', task_path(task.id), method: :delete, data: {confirm: '本当に削除しますか？'}, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </div>
  </table>
  <div class = 'onepage'>
    <%= paginate @tasks %>
  </div>
</div>
<br>