<%= form_with(model: @user, local: true, url: admin_user_path(@user.id) ) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="user_name">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div class="user_email">
  <%= form.label :email %><br>
  <%= form.email_field :email %>
  </div>
  <%= form.submit "登録する" %>
  <div>
  <% end %>