<!DOCTYPE html>
<html>
  <head>
    <title>Evleaf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <header class = 'header'>
    <ul class = "clearfix">
          <% if logged_in? %>
            <% if current_user.admin? %>
              <li class = "header_menu"><%= link_to 'ユーザー一覧', admin_users_path, class: :link %></li>
            <% end %>
            <li class = "header_menu"><%= link_to 'タスク一覧', tasks_path, class: :link %></li>
            <li class = "header_menu"><%= link_to 'タスク作成', new_task_path, class: :link %></li>
            <li class = "header_menu"><%= link_to 'ログアウト', session_path(current_user.id), method: :delete, class: :link %></li>
            <li class = "header_menu"><%= link_to 'マイページ', user_path(current_user.id), class: :link %></li>
          <% else %>
            <li class = "header_menu"><%= link_to '新規登録', new_user_path, class: :link %></li>
            <li class = "header_menu"><%= link_to 'ログイン', new_session_path, class: :link %></li>
          <% end %>
    </ul>
    </header>
    <br>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <br>
    <%= yield %>
    <footer class = 'myfooter'>
    </footer>
  </body>
</html>
